﻿
@model Medacademy.Models.SubjectModel
<div class="modal-dialog modal-md">
    <div class="modal-content" style="border-radius: 3px;">
        <div class="modal-header">
            Edit Subject<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        @using (Ajax.BeginForm("EditSubject", "Admin", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "SubjectEditSuccess",
            OnFailure = "SubjectEditFailed",
        }, new { id = "form-login" }))
        {
            <div class="modal-body">
                <form>
                    @Html.TextBoxFor(m => m.SubjectID, new { type = "hidden" })
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Package</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.PackageID, Ma.EntityLibrary.Data.Dropdowndata.GetPackageDrop(), "--Choose--", new { @class = "form-control pv_class-drop-down", @data_live_search = "true", name = "courseDropdown", id = "courseDataDropdown" })
                            @Html.ValidationMessageFor(m => m.PackageID)
                        </div>
                    </div>
                    @*<div class="form-group row">
                        <label class="col-sm-2 col-form-label">Package</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.GroupID, Ma.EntityLibrary.Data.Dropdowndata.GetGroupDrop(Model.PackageID), "--Choose--", new { @class = "form-control division_Select", @data_live_search = "true", @disabled = "disabled" })
                            @Html.ValidationMessageFor(m => m.GroupID)
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SubjectName, new { @class = "form-control", placeholder = "Subject Name" })
                            @Html.ValidationMessageFor(m => m.SubjectName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" style="margin-right:10px">Close</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>


        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    function SubjectEditSuccess(result) {
        if (result.status) {
            $('#editSubject').modal('hide');
            toastrSuccess(result.msg);
            refreshSubjectGrid();
        }
        else {
            toastrError(result.msg);
        }
    }
    function SubjectEditFailed() {
        toastrError('Group Editing Failed');
    }

</script>
