﻿

@model Medacademy.Models.LevelsModel

<div class="modal-dialog modal-md">
    <div class="modal-content" style="border-radius: 3px;">
        <div class="modal-header">
            Edit Level<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        @using (Ajax.BeginForm("EditLevel", "Admin", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "LevelEditSuccess",
            OnFailure = "LevelEditFailed",
        }, new { id = "form-login" }))
        {
            <div class="modal-body">
                <form>
                    @Html.TextBoxFor(m => m.LevelID, new { type = "hidden" })
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Subtopic</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.SubTopicID, Ma.EntityLibrary.Data.Dropdowndata.GetSubtopics(), "--Choose--", new { @class = "form-control pv_class-drop-down", @data_live_search = "true", name = "LevelDropdown", id = "LevelDataDropdown" })
                            @Html.ValidationMessageFor(m => m.SubTopicID)
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Level</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.LevelName, Ma.EntityLibrary.Data.Dropdowndata.GetLevels(), "--Choose--", new { @class = "form-control pv_class-drop-down", @data_live_search = "true", name = "topicDropdown", id = "topicDataDropdown" })
                            @Html.ValidationMessageFor(m => m.LevelName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Duration</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.timer, new { @class = "form-control", placeholder = "Duration" })
                            @Html.ValidationMessageFor(m => m.timer)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" style="margin-right:10px">Close</button>
                            <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>


        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<script>
    function LevelEditSuccess(result) {
        if (result.status) {
            $('#editLevel').modal('hide');
            toastrSuccess(result.msg);
            refreshLevelGrid();
        }
        else {
            toastrError(result.msg);
        }
    }
    function LevelEditFailed() {
        toastrError('Level Editing Failed');
    }

</script>

