﻿<table id="classTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Topic Name</th>
            <th>Subtopic Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{int id = 1;
            foreach (var topics in new Ma.EntityLibrary.Data.Level().GetLevels())
            {
                var Subtopic = new Ma.EntityLibrary.Data.SubTopic(topics.SubTopicID);
                <tr>
                    <td>@id</td>
                    <td>@topics.LevelName</td>
                    <td>@Subtopic.SubTopicName</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-id="@topics.LevelID" onclick="EditLevel(this)">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs confirmDelete" data-id="@topics.LevelID">Delete</button>
                    </td>
                </tr>
                id++;
            }
        }
    </tbody>
</table>

