﻿<table id="classTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Topic Name</th>
            <th>Subject Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{int id = 1;

            foreach (var topics in new Ma.EntityLibrary.Data.Topic().GetTopics())
            {
                var subjects = new Ma.EntityLibrary.Data.Subject(topics.SubjectID);
                <tr>
                    <td>@id</td>
                    <td>@topics.TopicName</td>
                    <td>@subjects.SubjectName</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" data-id="@topics.TopicID" onclick="EditTopic(this)">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs confirmDelete" data-id="@topics.TopicID">Delete</button>
                    </td>
                </tr>
                id++;
            }
        }
    </tbody>
</table>
