﻿
@model Medacademy.Models.LevelsModel
@{
    ViewBag.Title = "AddLevel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="addpackage">
    @using (Ajax.BeginForm("AddLevels", "Admin", null, new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "LevelAddSuccess",
        OnFailure = "LevelAddFailed",
    }, new { id = "form-login" }))
    {
        <div class="container">
            <div class="col-12">
                <div class="package_heading">
                    <h3>Add Level</h3>
                </div>
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">SubTopic</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.SubTopicID, Ma.EntityLibrary.Data.Dropdowndata.GetSubtopics(), "--Choose--", new { @class = "form-control pv_class-drop-down", @data_live_search = "true", name = "levelDropdown", id = "levelDataDropdown" })
                            @Html.ValidationMessageFor(m => m.SubTopicID)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Level</label>
                        <div class="col-sm-8">
                            @*@Html.TextBoxFor(m => m.LevelName, new { @class = "form-control", placeholder = "Level Name" })
                            @Html.ValidationMessageFor(m => m.LevelName)*@
                            @Html.DropDownListFor(m => m.LevelName, Ma.EntityLibrary.Data.Dropdowndata.GetLevels(), "--Choose--", new { @class = "form-control pv_class-drop-down", @data_live_search = "true", name = "topicDropdown", id = "topicDataDropdown" })
                            @Html.ValidationMessageFor(m => m.LevelName)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Duration</label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.timer, new { @class = "form-control", Placeholder = "Duration", Value = "00:00:00" })
                            @Html.ValidationMessageFor(m => m.timer)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">&nbsp;</label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-danger" onclick="CloseLevel()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</section>

<script>
    function refreshLevelGrid() {
        $.ajax({
            url: '/Admin/RefreshLevel',
            dataType: 'html',
            success: function (data) {
                $('#class-list-view').html(data);
                IntializeDataTable();
            },
        });
    }

    function IntializeDataTable() {
        $('#classTable').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    }
    function LevelAddSuccess(result) {
        if (result.status) {
            toastrSuccess(result.msg);
            refreshLevelGrid();
        }
        else {
            toastrError(result.msg);
        }
    }
    function LevelAddFailed() {
        toastrError('Level Adding Failed');
    }



    function CloseLevel() {
        window.location.href = '/Admin/Level/';
    }
</script>



