﻿@model Medacademy.Models.StudentList
@{
    ViewBag.Title = "StudentsGroupAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var studentlist = new Ma.EntityLibrary.Data.StudentsList().GetStudentdetails();
    //var questions = practiceTest.GetQuestions();
}

@using (Ajax.BeginForm("AddStudentstoGroup", "Admin", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "AddStudentstoGroupSuccess",
    OnFailure = "AddStudentstoGroupFailed",
}, new { id = "form-login" }))
{
    <section class="addpackage">

        <div style="padding: 10px 30px;">
            <div class="col-12">
                <div class="package_heading">
                    <h3>Students Group</h3>
                </div>
                <form>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Group</label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.GroupID, Ma.EntityLibrary.Data.Dropdowndata.GetGroupaddstudent(), "--Choose--", new { @class = "form-control ", id = "group_drop_down", @data_live_search = "true" })
                            @Html.ValidationMessageFor(m => m.GroupID)
                        </div>
                    </div>


                </form>

            @*</div>*@


            @Html.HiddenFor(z => z.StudentIDData, new { Value = "" })
            @*<div class="col-sm-11">*@
                <div class="box box-default">
                    <div class="box-body">

                        <table id="QuestionTableNew" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th><input class="selectall" type="checkbox"></th>
                                    <th>Q No.</th>
                                    <th>Name </th>
                                    <th>Groups</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 1;
                                }
                                @foreach (var stud in studentlist)
                                {
                                    <tr>
                                        <td><input class="ckb-question-item" value="@stud.StudentId" type="checkbox"></td>
                                        <td>@index</td>
                                        <td>@(new HtmlString(stud.Name))</td>
                                        <td>@stud.GroupName </td>

                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
                <div class="btns-qstexam">


                    <button type="button" class="btn btn-success" id="btn-dummy-addexam">Add to Group</button>


                    <button type="submit" style="display:none;" id="btn-addexam" class="btn btn-success">Save</button>


                </div>
                </div>
            </div>
    </section>
                            }

<script>
    $(document).ready(function () {


        IntializeDataTable();


    });






    function IntializeDataTable() {
        $('#QuestionTableNew').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "lengthMenu": [5, 10, 50, 100, 200, "Max"],
            "pageLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }]

        });

    }

    $(document).on('click', '.selectall', function () {
        //  debugger;
        if (this.checked) {
            $('.ckb-question-item').each(function () {
                $(".ckb-question-item").prop('checked', true);
            })
        } else {
            $('.ckb-question-item').each(function () {
                $(".ckb-question-item").prop('checked', false);
            })
        }
    });

    $(document).on('click', '#btn-dummy-addexam', function () {

        SelectedList();


        $('#btn-addexam').trigger('click');
       


    });

    function SelectedList() {
        var roles = "";

        $('.ckb-question-item').each(function () {
            // alert($(this).val());
            if ($(this).prop("checked") == true) {
                if (roles == "") {
                    roles += $(this).val();
                }
                else {
                    roles += "~" + $(this).val();
                }
            }
        });
        $('#StudentIDData').val(roles);

    };


    function AddStudentstoGroupSuccess(result) {
        if (result.status) {

            toastrSuccess(result.msg);

            window.location.href = '/Admin/StudentsGroupAdd/';


        }
        else {
            toastrError(result.msg);
        }
    }

    //$(document).on('change', '#group_drop_down', function () {
    //    var id = $(this).val();
    //    alert(id + "abcd");
    //    if (id == "" || id == null) {
    //        id = 0;
    //    }
    //    else {
    //        $('#GroupID').val(id);

    //    }

    //});


</script>
