﻿@model Medacademy.Models.ExamModel
@{
    ViewBag.Title = "ExamWiseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userData = (Medacademy.Models.UserModel)Session["UserLoginFirstTime"];
    var report = new Ma.EntityLibrary.Data.Exam().GetExamReport(Model.ExamID, userData.UserId);
}
<style>
    .status_black {
    height: 48px;
    background-color: #A7A7A7;
    text-align: left;
    border-radius: 50px;
    color: #FFF;
    width: 168px;
    padding: 3px 15px;
    font-family: Lato;
    font-weight: 700;
    margin: 0px auto;
}
    .numb_stat {
    font-size: 33px;
    line-height: 40px;
    display: inline-block;
    padding-left: 2px;
}
    .txt_stat {
    text-transform: uppercase;
    position: absolute;
    line-height: 12px;
    padding-top: 9px;
    font-size: 12px;
    width: 80px;
    padding-left: 2px;
}
    .status_green {
    background-color: #4EB13B;
}
    .status_red {
        background-color: #ff5852;
    }
    .button_1 {
    color: #FFF !important;
    font-family: Lato;
    font-weight: 700;
    margin: 0px auto;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s ease-in-out;
}
</style>

<div class="mar_gap_for_menu">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 media_marpad_zero text-center reports_main">                  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mapazero stats_btns text-left" style="margin-top:15px; padding-bottom:10px;">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="status_black" style="background-color: #2e2e2e;"><span class="numb_stat">@report.TotalQuestion</span><span class="txt_stat">Total questions</span></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="status_black"><span class="numb_stat">@report.UnattendedNo</span><span class="txt_stat">questions unattended</span></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="status_black status_green"><span class="numb_stat">@report.RightNo</span><span class="txt_stat">right answers</span></div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="status_black status_red"><span class="numb_stat">@report.WrongNo</span><span class="txt_stat">wrong answers</span></div>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mapazero table-responsive">
                        <table class="table my_reports_table table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 57px;">Q No.</th>
                                    <th>Question</th>
                                    <th>Your Answer</th>
                                    <th class="text-center">Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 1;
                                }
                                @{
                                    foreach (var reportList in report.ReportList)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@(new HtmlString(reportList.QuestionName))</td>
                                            @if (reportList.Status == 0)
                                            {
                                                <td><p class="question_all wrong_ans">Wrong</p></td>
                                            }
                                            else if ((int)reportList.Status == 1)
                                            {
                                                <td><p class="question_all right_ans">Correct</p></td>
                                            }
                                            else if ((int)reportList.Status == 2)
                                            {
                                                <td><p class="question_all">Unattended</p></td>
                                            }
                                            <td><a data-question-id="@reportList.QuestionId" data-exam-id="@Model.ExamID" class="button_1 button_2 button_360 text-center isPointer navigate-exam-test-ui">review</a></td>
                                        </tr>
                                        index++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script>
    $(document).on('click', '.navigate-exam-test-ui', function () {        
        var examId = $(this).attr('data-exam-id');
        var questionId = $(this).attr('data-question-id');
        var id = examId + '~' + questionId;
        window.location.href = '/Report/ExamReview/' + id;
    });
</script>



