
.pay_tabs li a { padding: 12px 15px;}
.pay_tabs li { margin:0px;}
.payment_plan { max-width:600px; background-color:#57d7a7; margin:0px auto; border-radius:4px; text-align:left; padding:5px 20px; margin-bottom:15px; margin-top:15px; border:2px solid #4ab88f; display:block;}
.payment_plan h4, .payment_plan p { color:#fff; display:inline-block; margin:0px; padding:0px;}
.payment_plan h4 { text-transform:uppercase; font-family: Lato;
    font-weight: 700; font-size:24px;}
.payment_plan p { font-size:24px; float:right;}
.pay_tabs { max-width: 600px; margin: 0 auto; text-align:left; padding:5px 20px; }
.pay_fields label { text-transform:uppercase;font-family: Lato;
    font-weight: 700;}
.card_types { background-image:url(../img/card_types.png); background-position: right; background-repeat:no-repeat; padding-right: 170px;}
.pay_fields {padding-bottom:16px;}
.cancel_pay {color:#58b8f0 !important; text-transform:capitalize !important; font-size:16px !important; padding-bottom:0px !important;}
.cancel_pay:hover, .cancel_pay:active, .cancel_pay:focus {color:#5e9abc !important; text-decoration:underline !important;}
.pay_sel {background-color: #ededed; border: 0px solid #ccc; box-shadow: none; color:#000;}
.pay_sel:focus, .pay_sel:active { box-shadow:none !important;}

@media screen and (max-width: 1199px){

}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
	.payment_plan { text-align:center;}
	.payment_plan h4, .payment_plan p { display:block; float:none;}
}

@media screen and (max-width: 450px){
	.pay_tabs li {width: 100%;}
}
