.table-responsive { padding-top:10px;}

.reports_h1 {
    font-family: Lato;
    font-weight: 700;
    padding-top:20px;
    font-size: 25px;
    color: #575656;
    margin-top: 8px;
}
.reports_p{
	color: #a3a3a3;
    line-height: 24px;
    max-width: 600px;
    margin: 0px auto;
	
}
.my_reports_table { text-align:left;}
.my_reports_table thead { background-color:#57d7a7; color:#FFF;}
.my_reports_table thead tr th { font-weight:400;/*text-align:center;*/font-family: Lato;
    font-weight: 700; vertical-align:middle;}

.question_all{ display:inline-block; background-color:#A7A7A7; color:#fff; padding:2px 4px; text-transform:uppercase; font-size:12px;}

.wrong_ans { background-color:#ff5852;}
.right_ans { background-color:#57d7a7;}
.button_360 {
    height: 27px;
    border-radius: 50px;
    width: 79px;
    padding: 0px 2px;
    line-height: 26px;
    font-size: 12px;
	background-color:#2e2e2e;
}
.ca-custome-table{
    margin-bottom: 15px !important; 
    border-bottom: 1px solid #ccc;
    max-width: 800px !important;
}
.my_reports_table tbody tr td:nth-child(3) { text-align:center;}

.my_exam_table { text-align:left; max-width:550px; margin: 0px auto;}

.button_420 {width: 120px;}

.reports_main { min-height:75Vh;}

.main-reports-stats {padding-top:20px; display: inline-block; padding-bottom:10px; max-width: 800px; margin: 0px auto;text-align: center;float: none;}

#canvas {display: inline-block; vertical-align: middle; min-width:500px;}

/****** pi chart *****************************************************************************************************/
.canvas div {
  width: 100%;
  text-align: center;
}
.canvas div p {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #bdc3c7;
}

/****** pi chart *****************************************************************************************************/


@media screen and (max-width: 767px){
	.reports-scroll {  width: 100%; overflow:auto;  white-space: nowrap;}
	
}


