
.grp_sec {
    padding: 45px 30px;
}
.blue_bg {
    background: #20a7db;
    padding: 20px 20px;
    text-align: center;
    height: 100%;
    position: relative;
}
.spn_clz {
    color: #6e6d6d;
    margin-bottom: 10px;
}
.spn_clz_two{
    color:#20a7db; 
    margin-top: 10px;
}
.spn_clz span , .spn_clz_two span{ font-size: 13px;
margin-left: 5px;
margin-right: 5px;}
.desc p{
    font-size: 16px;
    color: #515151 !important;
    margin-top: 15px;
    line-height: 27px;
   
}
.desc a {
    border: 1px solid #20a7db;
    padding: 7px 30px;
    color: #20a7db;
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
}
.blue_bg img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.desc h5{
    font-size: 19px;
}
.mardes{
    margin-bottom: 45px;
}

.grp_section {
    background: url(../images/grp-bg.jpg) no-repeat;
}
.lst_cust ul li{
    list-style: none;
    display: flex;
    margin-top: 15px;
}
.report_cust h5 {
    font-size: 31px;
    color: #20a7db;
}
.report_sec{
    padding: 59px 30px;
}
.report_cust p {
    font-size: 16px;
    line-height: 27px;
     margin-bottom: 25px; 
    margin-top: 25px;
}
.lst_cust ul li i{
        margin-top: 4px;
    margin-right: 7px;
    color: #20a7db;
}
.cmptr_img {
    position: relative;
}
.cmptr_img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}
.report_section{
     background: url(../images/reports/tablet.jpg) no-repeat;
}
/*5/16*/
.cust_lg_form {
    max-width: 650px;
    margin: auto;
/*
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 25px;
*/
    
    display: flex;
    
}
.lgn_sec{
     background: url(../images/login/Untitled-6.jpg) no-repeat;
     padding: 50px;
     background-size: cover;
}
.details .form-group .form-control{
        background-color: #ecebeb;
        border-radius: inherit;
        padding: 10px 18px;
        border: 0px solid #ffffff;
}
.details .form-group .form-control:focus {
    color: #495057;
    background-color: #d9dadc;
    border-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}


.sb_btn a{
    text-decoration: none;
    color: #fff;
    background: #18b3e9;
    padding: 9px 41px;
    border-radius: 62px;
}
.details h4{
    color:#18b3e9;
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
}
.cust_lg_form .details p span a{
     text-decoration: none;
    color: #18b3e9;
   
}
.cust_lg_form .details p{
    font-family: lato;
    font-size: 12.02px;
        text-align: center;
}
.sb_btn.form-group {
    margin-top: 25px;
        text-align: center;
}
.blue_right_sec{
    background: url(../images/login/grd.png) no-repeat;
    color: #fff;
        border-radius: 0px 10px 9px 0px;
    padding: 30px;
/*        flex:1 1 250px;*/
    width: 250px;
    background-size: cover;
}
.details {
    background: #fff;
    border-radius: 10px 0px 0px 10px;
    padding: 30px 86px;
/*    flex: 1 1 auto;*/
    padding: 100px 86px;
/*    max-width: 404px;*/
}
.details .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c7c7c7;
    font-size: 13px;
   
}
.details .form-group input::-moz-placeholder { /* Firefox 19+ */
   color: #c7c7c7;
    font-size: 13px;
}
.details .form-group input:-ms-input-placeholder { /* IE 10+ */
   color: #c7c7c7;
    font-size: 13px;
}
.details .form-group input:-moz-placeholder { /* Firefox 18- */
   color: #c7c7c7;
    font-size: 13px;
}
.img_cont {
    text-align: center;
}
.blue_right_sec p{
    text-align: center;
    font-size: 13px;
}
.blue_right_sec h4{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.blue_right_sec .sb_btn.form-group {
    margin-top: 35px;
        text-align: center;
}
.blue_right_sec .sb_btn a{
    background: #ccc0;
    border: 1px solid #fff;
}
.blx_cust{
        border-radius: 10px 0px 0px 10px;
}
.dtlz_czt{
    border-radius: 0px 10px 10px 0px;
    padding: 20px 20px;
}

.drp .dropdown .btn-secondary {
     color: #c7c7c7;
    background-color: #ecebeb;
    /* border-color: #6c757d; */
    font-size: 14px;
    height: auto;
    font-family: lato;
    width: 100%;
    border: 0px;
    border-radius: 0px;
    padding: 10px 18px;
}

.filz .form-group .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
     
}
.filz .form-group .custom-file-input::before {
  content: 'Choose file';
  display: inline-block;
  background: #18b3e9;
  border: 0px solid #999;
  border-radius: 0px;
  padding: 9px 16px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
        margin-left:-10px;
   align-items: center;
       
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background:#000;
}
.filz .form-group .custom-file-input{
    color: #ccc;
    opacity: 1;
    font-size: 14px;
    margin-left: 0px;
   
    
}
.frm_img{
    width: 132px;
}
.frm_img img{
    width:100%;
}
.dtlz_czt .row .mar_rgt{
    padding-right: 0px ;
}
.sb_btnzz.form-group {
    margin-top: 20px;
    text-align: inherit;
}
.details p{
     color: #c7c7c7;
}
.hidn{
    display: none;
}
.pre_right i{
    color:#18b3e9; 
}
/*------------- Media Query -------------*/
/*---------------------------------------*/

@media(max-width:991px){
    
 .cust_lg_form {
    height: 100%;
}
.blue_bg img {
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
}
    
    .desc a {
   margin-top: 13px;
    
}
    .spn_clz {
    
    margin-top: 5px;
}
    .cmptr_img img{
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
}
    .details {
       width: 100%;
        height: 100%;
    }
    .blue_right_sec{
       width: 100%;
         height: 100%;
    }
}
@media(max-width:767px){
   .details {
    order: 2;
    border-radius: 0px 0px 0px 0px;
       padding: 55px 45px;
       
    }
    .blue_right_sec{
       border-radius: 0px 0px 0px 0px; 
        order: 1;
        width: 100%;
    }
    .cust_lg_form{
        flex-wrap: wrap;
    }
    .drpdwn_czt .btn-secondary{
        margin-bottom: 18px;
    }
    .dtlz_czt .row .mar_rgt{
    padding-right: 15px ;
}
    .cust_lg_form {
    height: inherit;
}
    .lgn_sec {
        padding: 0px;
    }
    .full_wid{
        padding-left: 0px;
        padding-right: 0px;
    }
    .hid {
        display: none;
}
    .main_header{
            display: flex;
    justify-content: space-between;
    }
    .hidn{
    display: block;
}
    .pre_right i {
   
    margin-top: 3px;
}
    .pre_head {
    display: flex;
    justify-content: space-between;
}
    
}
@media(max-width:480px){
    .hd_img img{
        display: block !important;
    }
    
}