﻿@model Medacademy.Models.ExamModel
@{
    var examResult = new Ma.EntityLibrary.Data.Exam().GetUserResult(Model.ExamID);
    var exam = new Ma.EntityLibrary.Data.Exam(Model.ExamID);
}

<table id="examResultTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Mark</th>
            <th>Time(Seconds)</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        @{var index = 1;}
        @foreach (var user in examResult)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Total</td>
                <td>@user.Examtime</td>
                <td>@index</td>
            </tr>
            index++;
        }
    </tbody>
</table>

