﻿@model Medacademy.Models.AddQuestoExam

@{
    var questions = new Ma.EntityLibrary.Data.ExamQuestion().GetQuestions(@Model.ExamId);

}

<section class="content">
    <div class="box box-default">
        <div class="box-body">
            <input type="hidden" id="hflevelid" value="@Model.LevelID" />
            <div class="modal-header view-header">
                Questions <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <table id="QuestionTableNew" class="table table-bordered table-striped">

                <thead>
                    <tr>
                        @*<th><input class="selectall" type="checkbox"></th>*@
                        <th>Q No.</th>
                        <th>Question</th>
                      
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                    }
                    @foreach (var question in questions)
                    {
                        <tr>
                            @*<td><input class="ckb-question-item" value="@question.QuestionId" type="checkbox"></td>*@
                            <td>@index</td>
                            <td>@(new HtmlString(question.Question))</td>
                           
                        </tr>
                        index++;
                    }
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
    @*<div class="btns-qstexam">


        <button type="button" class="btn btn-success" id="btn-dummy-addexam">Add to Exam</button>
        <button type="submit" style="display:none;" id="btn-addexam" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-danger">Publish</button>

    </div>*@
</section>


<script>
    $(document).ready(function () {


        IntializeDataTable();


    });






    function IntializeDataTable() {
        $('#QuestionTableNew').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "lengthMenu": [5, 10, 50, 100, 200, "Max"],
            "pageLength": 5,
            "aoColumnDefs": [{ "bSortable": false, "aTargets": [0] }]

        });

    }


</script>
