﻿@model Medacademy.Models.ExamModel
@{
    ViewBag.Title = "ExamResult";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var exam = new Ma.EntityLibrary.Data.Exam(Model.ExamID);
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">                      
                        <li class="active"><h3 class="box-title">Result</h3></li>
                    </ol>
                    @{
                        <a class="btn btn-success btn-xs btn-publish-result" style="margin-left:5px" data-id="@Model.ExamID">Publish Result</a>
                    }
                </div><!-- /.box-header -->
                <div class="box-body" id="exam-result-list-view">
                    @Html.Partial("~/Views/Exam/_pv_ExamResult_Grid.cshtml", Model)
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->


<script>
    $(document).on('click', '.btn-publish-result', function () {
        var examId = $(this).attr("data-id");
        var url = '/Exam/PublishResult?examId=' + examId;
        $.confirm({
            text: "Are you sure?",
            confirm: function (button) {
                $.get(url, function (result) {
                    if (result.status) {
                        toastrSuccess(result.msg);
                       // refreshExamResultGrid();
                        //$('.btn-publish-result').addClass('isHidden');
                        //$('.btn-result-conceal').removeClass('isHidden');
                    }
                    else {
                        toastrError(result.msg);
                    }
                });
            },
            confirmButton: "Yes",
            cancelButton: "Cancel",
            confirmButtonClass: "btn-danger",
            cancelButtonClass: "btn-success",
        });
    });
</script>