﻿
@model Medacademy.Models.UserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumbsSection course_section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="breadcrumbs">
                    <h1>Courses</h1>
                    <ul>
                        <li><a href="/Accounts/Index">Home</a></li>
                        <li>Courses</li>
                    </ul>
                </div><!-- ./breadcrumbs -->

            </div>
        </div>
    </div>
</section>
<!-- ./breadcrumbsSection -->



@if (Model.UserId != 0)
{

    <section class="commSec course_bdy_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row" id="div_id_pv_courses">
                        @Html.Partial("~/Views/User/pv_courses.cshtml", Model)
                    </div>
                    <ul class="pagination">
                        @{

                            Medacademy.Repository.PaginationRepository pagnation = new Medacademy.Repository.PaginationRepository();
                            Medacademy.Models.PaginationModel models_Pagination = new Medacademy.Models.PaginationModel();

                            models_Pagination.TotalItems = Model.CourseModel.PaginationModel.TotalItems;

                            var totelItems = pagnation.Courses_CalculatePage(models_Pagination); ////start....

                            if (totelItems.NumberOfPages != 0)
                            {

                                <li class="page-item clas-pagination" id="Previous" Previous-id="1"><a class="page-link">Previous</a></li>
                                for (int i = 1; i <= totelItems.NumberOfPages; i++)
                                {
                                    if (i == 1)
                                    {
                                        <li class="page-item clas-pagination active" id="@i"><a class="page-link">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item clas-pagination" id="@i"><a class="page-link">@i</a></li>
                                    }

                                }
                                if (totelItems.NumberOfPages == 0)
                                {
                                    <li class="page-item clas-pagination" id="1"><a class="page-link">1</a></li>

                                }

                                int NextId = 2;
                                if (NextId > totelItems.NumberOfPages)
                                {
                                    <li class="page-item clas-pagination" id="Next" Next-id="1" Number-Of-Pages="@totelItems.NumberOfPages"><a class="page-link">Next</a></li>

                                }
                                else
                                {
                                    <li class="page-item clas-pagination" id="Next" Next-id="2" Number-Of-Pages="@totelItems.NumberOfPages"><a class="page-link">Next</a></li>

                                }

                            }
                            else
                            {
                                <li class="page-item"><a class="page-link">Previous</a></li>
                                <li class="page-item active"><a class="page-link">1</a></li>
                                <li class="page-item"><a class="page-link">Next</a></li>

                            }


                        }
                    </ul>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <div class="course_sidebar">
                        <div class="search_courses">
                            <h5 class="sidebar_title">Search Courses</h5>

                            <div class="search_bar">
                                <input type="text" class="form-control" placeholder="Search here...">
                                <button class="search_submit"><i class="fas fa-search"></i></button>
                            </div>

                        </div><!-- ./search_courses -->
                        @*<div class="categories_list">
                                <h5 class="sidebar_title">Categories</h5>

                                <ul>
                                    <li>Analysis & Features <span>(05)</span></li>
                                    <li>Videos Review <span>(05)</span></li>
                                    <li>Medical tech <span>(05)</span></li>
                                    <li>BDS <span>(05)</span></li>
                                    <li>BAMPS <span>(05)</span></li>
                                </ul>
                            </div>*@

                        <!-- ./categories_list -->

                        <div class="latest_courses">
                            <h5 class="sidebar_title">Latest Courses</h5>

                            <div class="course_single">
                                <div class="course_photo">
                                    <img src="~/Content/images/course/2.jpg">
                                </div>
                                <div class="course_info course_latst_info">
                                    <h6>Master of Pharmacy</h6>
                                    <div class="course_time">
                                        <span><i class="far fa-clock"></i> 4 Year</span>
                                        <span>Price : Rs 2,00,000</span>
                                    </div>
                                </div>
                            </div>
                            @Html.Partial("~/Views/User/pv_Latest_courses.cshtml")


                        </div><!-- ./latest_courses -->
                        @*<div class="prod_tags">
                                <h5 class="sidebar_title">Product Tags</h5>

                                <div class="tags">
                                    <span>Pharmacy</span>
                                    <span>D.Pharma</span>
                                    <span>B.Pharma</span>
                                    <span>M.Pharma</span>
                                </div>
                            </div>*@
                    </div><!-- ./course_sidebar -->

                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>

    $(".clas-pagination").click(function () {
        //debugger;
        var PaginationModel = new Object();
        var datas = new Object();
        var check_Status = $(this).attr('id');

        $(".clas-pagination").removeClass('active');

        if (check_Status == 'Previous') {
            PaginationModel.PageNumber = $("#Previous").attr('Previous-id');

            $("#" + PaginationModel.PageNumber).addClass('active');
            var PR1 = PaginationModel.PageNumber;
            PR1 = parseInt(PR1) - 1;
            var PR2 = PR1;
            if (PR1 == 0) {
                PR1 = 1;
            }
            if (PR1 == 0) {
                PR2 = 2;
            }
            $("#Previous").attr('Previous-id', PR1);
            var totelNumberOfpage =  $("#Next").attr("Number-Of-Pages");
            if (totelNumberOfpage == 1) {
                $("#Next").attr('Next-id', 1);
            }
            else {
                $("#Next").attr('Next-id', (PR2 + 1) + 1);
            }



        }
        else if (check_Status == 'Next') {
            PaginationModel.PageNumber = $("#Next").attr('Next-id');
            $("#" + PaginationModel.PageNumber).addClass('active');
            var NE1 = PaginationModel.PageNumber;
            var Totelpages = $("#Next").attr("Number-Of-Pages");
            NE1 = parseInt(NE1) + 1;
            var PREV1 = NE1;
            if (NE1 > Totelpages) {
                NE1 = NE1 - 1;
                //PREV1 = PREV1 + 1;
            }
            $("#Next").attr('Next-id', NE1);
            if (Totelpages == 1) {
                $("#Previous").attr('Previous-id', 1);
            }
            else {
                $("#Previous").attr('Previous-id', (PREV1 - 1) - 1);
            }

        }
        else {
            PaginationModel.PageNumber = $(this).attr('id');
            var Totelpages = $("#Next").attr("Number-Of-Pages");
            var C1 = $(this).attr('id');
            var P2 = C1;
            if(P2 > 1){
                P2 = parseInt(C1) - 1
            }
            N1 = parseInt(C1) + 1;

            if (Totelpages == 1) {
                $("#Next").attr('Next-id', 1);
                $("#Previous").attr('Previous-id', 1);
            }
            else{
                $("#Next").attr('Next-id', N1);
                $("#Previous").attr('Previous-id', P2);
            }




        }
            datas.PaginationModel = PaginationModel;
            $(this).addClass('active');



            $.ajax({
                type: "POST",
                url: "/User/pv_courses",
                data: datas,
                success: function (response) {
                    $("#div_id_pv_courses").html("");
                    $("#div_id_pv_courses").html(response);
                },
                error: function (response) {

                }
            });


    });

    </script>

                            }

                            else
                            {
                                <section class="commSec course_bdy_section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                                <div class="row" id="div_id_pv_courses">
                                                    @Html.Partial("~/Views/Locals/pv_Local_courses.cshtml", Model)
                                                </div>


                                                <ul class="pagination">
                                                    @{

                                                        Medacademy.Repository.PaginationRepository pagnation = new Medacademy.Repository.PaginationRepository();
                                                        Medacademy.Models.PaginationModel models_Pagination = new Medacademy.Models.PaginationModel();

                                                        models_Pagination.TotalItems = Model.LocalModel.PaginationModel.TotalItems;

                                                        var totelItems = pagnation.Courses_CalculatePage(models_Pagination); ////start....

                                                        if (totelItems.NumberOfPages != 0)
                                                        {

                                                            <li class="page-item clas-pagination" id="Previous" Previous-id="1"><a class="page-link">Previous</a></li>
                                                            for (int i = 1; i <= totelItems.NumberOfPages; i++)
                                                            {
                                                                if (i == 1)
                                                                {
                                                                    <li class="page-item clas-pagination active" id="@i"><a class="page-link">@i</a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li class="page-item clas-pagination" id="@i"><a class="page-link">@i</a></li>
                                                                }

                                                            }
                                                            if (totelItems.NumberOfPages == 0)
                                                            {
                                                                <li class="page-item clas-pagination" id="1"><a class="page-link">1</a></li>

                                                            }

                                                            int NextId = 2;
                                                            if (NextId > totelItems.NumberOfPages)
                                                            {
                                                                <li class="page-item clas-pagination" id="Next" Next-id="1" Number-Of-Pages="@totelItems.NumberOfPages"><a class="page-link">Next</a></li>

                                                            }
                                                            else
                                                            {
                                                                <li class="page-item clas-pagination" id="Next" Next-id="2" Number-Of-Pages="@totelItems.NumberOfPages"><a class="page-link">Next</a></li>

                                                            }

                                                        }
                                                        else
                                                        {
                                                            <li class="page-item"><a class="page-link">Previous</a></li>
                                                            <li class="page-item active"><a class="page-link">1</a></li>
                                                            <li class="page-item"><a class="page-link">Next</a></li>

                                                        }


                                                    }
                                                </ul>

                                            </div>

                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                                <div class="course_sidebar">
                                                    <div class="search_courses">
                                                        <h5 class="sidebar_title">Search Courses</h5>

                                                        <div class="search_bar">
                                                            <input type="text" class="form-control" placeholder="Search here...">
                                                            <button class="search_submit"><i class="fas fa-search"></i></button>
                                                        </div>

                                                    </div><!-- ./search_courses -->

                                                    <div class="categories_list">
                                                        <h5 class="sidebar_title">Categories</h5>

                                                        <ul>
                                                            <li>Analysis & Features <span>(05)</span></li>
                                                            <li>Videos Review <span>(05)</span></li>
                                                            <li>Medical tech <span>(05)</span></li>
                                                            <li>BDS <span>(05)</span></li>
                                                            <li>BAMPS <span>(05)</span></li>
                                                        </ul>
                                                    </div><!-- ./categories_list -->

                                                    <div class="latest_courses">
                                                        <h5 class="sidebar_title">Latest Courses</h5>

                                                        <div class="course_single">
                                                            <div class="course_photo">
                                                                <img src="~/Content/images/course/2.jpg">
                                                            </div>
                                                            <div class="course_info course_latst_info">
                                                                <h6>Master of Pharmacy</h6>
                                                                <div class="course_time">
                                                                    <span><i class="far fa-clock"></i> 4 Year</span>
                                                                    <span>Price : Rs 2,00,000</span>
                                                                </div>
                                                            </div>
                                                        </div><!-- ./course_single -->

                                                        <div class="course_single">
                                                            <div class="course_photo">
                                                                <img src="~/Content/images/course/2.jpg">
                                                            </div>
                                                            <div class="course_info course_latst_info">
                                                                <h6>Master of Pharmacy</h6>
                                                                <div class="course_time">
                                                                    <span><i class="far fa-clock"></i> 4 Year</span>
                                                                    <span>Price : Rs 2,00,000</span>
                                                                </div>
                                                            </div>
                                                        </div><!-- ./course_single -->

                                                        <div class="course_single">
                                                            <div class="course_photo">
                                                                <img src="~/Content/images/course/2.jpg">
                                                            </div>
                                                            <div class="course_info course_latst_info">
                                                                <h6>Master of Pharmacy</h6>
                                                                <div class="course_time">
                                                                    <span><i class="far fa-clock"></i> 4 Year</span>
                                                                    <span>Price : Rs 2,00,000</span>
                                                                </div>
                                                            </div>
                                                        </div><!-- ./course_single -->
                                                    </div><!-- ./latest_courses -->

                                                    <div class="prod_tags">
                                                        <h5 class="sidebar_title">Product Tags</h5>

                                                        <div class="tags">
                                                            <span>Pharmacy</span>
                                                            <span>D.Pharma</span>
                                                            <span>B.Pharma</span>
                                                            <span>M.Pharma</span>
                                                        </div>
                                                    </div>
                                                </div><!-- ./course_sidebar -->

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

                                <script>

    $(".clas-pagination").click(function () {
        debugger;
        var PaginationModel = new Object();
        var datas = new Object();
        var check_Status = $(this).attr('id');

        $(".clas-pagination").removeClass('active');

        if (check_Status == 'Previous') {
            PaginationModel.PageNumber = $("#Previous").attr('Previous-id');

            $("#" + PaginationModel.PageNumber).addClass('active');
            var PR1 = PaginationModel.PageNumber;
            PR1 = parseInt(PR1) - 1;
            var PR2 = PR1;
            if (PR1 == 0) {
                PR1 = 1;
            }
            if (PR1 == 0) {
                PR2 = 2;
            }
            $("#Previous").attr('Previous-id', PR1);
            var totelNumberOfpage =  $("#Next").attr("Number-Of-Pages");
            if (totelNumberOfpage == 1) {
                $("#Next").attr('Next-id', 1);
            }
            else {
                $("#Next").attr('Next-id', (PR2 + 1) + 1);
            }

        }
        else if (check_Status == 'Next') {
            PaginationModel.PageNumber = $("#Next").attr('Next-id');
            $("#" + PaginationModel.PageNumber).addClass('active');
            var NE1 = PaginationModel.PageNumber;
            var Totelpages = $("#Next").attr("Number-Of-Pages");
            NE1 = parseInt(NE1) + 1;
            var PREV1 = NE1;
            if (NE1 > Totelpages) {
                NE1 = NE1 - 1;
                //PREV1 = PREV1 + 1;
            }
            $("#Next").attr('Next-id', NE1);
            if (Totelpages == 1) {
                $("#Previous").attr('Previous-id', 1);
            }
            else {
                $("#Previous").attr('Previous-id', (PREV1 - 1) - 1);
            }

        }
        else {
            PaginationModel.PageNumber = $(this).attr('id');
            var Totelpages = $("#Next").attr("Number-Of-Pages");
            var C1 = $(this).attr('id');
            var P2 = C1;
            if(P2 > 1){
                P2 = parseInt(C1) - 1
            }
            N1 = parseInt(C1) + 1;

            if (Totelpages == 1) {
                $("#Next").attr('Next-id', 1);
                $("#Previous").attr('Previous-id', 1);
            }
            else {
                if (N1 > Totelpages) {
                    N1 = N1 - 1;
                    //PREV1 = PREV1 + 1;
                }
                $("#Next").attr('Next-id', N1);
                $("#Previous").attr('Previous-id', P2);
            }

        }
            datas.PaginationModel = PaginationModel;
            $(this).addClass('active');
            $.ajax({
                type: "POST",
                url: "/Locals/pv_Local_courses",
                data: datas,
                success: function (response) {
                    $("#div_id_pv_courses").html("");
                    $("#div_id_pv_courses").html(response);
                },
                error: function (response) {

                }
            });


    });

                                </script>
                                                        }
