﻿@model Medacademy.Models.UserModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="bannerSection">

    <div class="main_banner">
        <img src="~/Content/images/main_banner.jpg">
        <div class="banner_txts">
            <h2>Welcome to Medacademy</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo, vel feugiat neque ipsum ut felis. Ut auctor odio eu nibh porta rutrum. Etiam metus eros, faucibus ac enim id, ullamcorper aliquam quam. Pellentesque et </p>
            <a href="#" class="btn med_btn_one">Read more</a>
            <a href="#" class="btn med_btn_two border">Get started now</a>
        </div>
    </div><!-- ./main_banner -->

</section>
<!-- ./bannerSection -->



<section class="commSec">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h3 class="mainTitle blckClr">Packages</h3>
            </div>
        </div>
        @{

            if (Model.UserId != 0)
            {
                <div class="row">
                    @foreach (var a1 in Model.Home_Pacages_List)
                {
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="packages">
                                <div class="package_photo">
                                    <img src="@a1.Files">
                                </div>
                                <div class="package_info">
                                    <h5>@a1.PackageName</h5>
                                    <div class="price">
                                        <span><i class="fas fa-rupee-sign"></i>@a1.Amount</span>
                                        <span><i class="fas fa-rupee-sign"></i>@Convert.ToInt64(Convert.ToInt64(a1.Amount) - Convert.ToInt64(a1.DiscountAmount))</span>
                                    </div>
                                    <div class="package_btn">
                                        <a href="#" class="detls_btn">Full Details</a>
                                        <a href="/User/AlertPayment?page=@a1.PackageID" class="slct_btn" pakage-Id="@a1.PackageID">Select</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/Accounts/Packages/" class="btn viewMorebtn">View More</a>
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    @foreach (var a1 in Model.Home_Pacages_List)
                {
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <div class="packages">
                                <div class="package_photo">
                                    <img src="@a1.Files">
                                </div>
                                <div class="package_info">
                                    <h5>@a1.PackageName</h5>
                                    <div class="price">
                                        <span><i class="fas fa-rupee-sign"></i>@a1.Amount</span>
                                        <span><i class="fas fa-rupee-sign"></i>@Convert.ToInt64(Convert.ToInt64(a1.Amount) - Convert.ToInt64(a1.DiscountAmount))</span>
                                    </div>
                                    <div class="package_btn">
                                        <a href="#" class="detls_btn">Full Details</a>
                                        <a href="/User/AlertPayment?page=@a1.PackageID" class="slct_btn" pakage-Id="@a1.PackageID">Select</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/Accounts/Local_Packages/" class="btn viewMorebtn">View More</a>
                    </div>
                </div>

            }



        }

    </div>
</section>
<!-- ./commSec -->



<section class="whySec">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h3 class="mainTitle whtClr">Why Medacademy?</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="why_points">
                    <img src="~/Content/images/icon_1.png">
                    <div class="why_info">
                        <h5>Economical</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="why_points">
                    <img src="~/Content/images/icon_2.png">
                    <div class="why_info">
                        <h5>Adaptive</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="why_points">
                    <img src="~/Content/images/icon_3.png">
                    <div class="why_info">
                        <h5>Strong</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="why_points">
                    <img src="~/Content/images/icon_4.png">
                    <div class="why_info">
                        <h5>Simple</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="why_points">
                    <img src="~/Content/images/icon_5.png">
                    <div class="why_info">
                        <h5>Engaging</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="why_points">
                    <img src="~/Content/images/icon_6.png">
                    <div class="why_info">
                        <h5>Informative</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ./whySec -->




<section class="aboutUs">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h3 class="mainTitle blckClr">About us</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about_us">
                    <img src="~/Content/images/about_vdo.jpg">
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="about_us">
                    <h5>WELCOME TO MEDACADEMY</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo.</p>


                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Our History <i class="fas fa-caret-right"></i></div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    It was in January 2019, we registered a society, PHARMA EDUCARE SOCIETY (TVM/TC/49/2019). We started our project with live coaching classes at THIRUVANANTHAPURAM, CALICUT & THRISSUR, with a single motto “MAKING PROFESSIONALS, PROFESSIONALLY”
                                    Many of the REGISTERED PHARMACIST contacted and requested to start the same in their districts, also to provide materials for them. But, we know that none of us is going to refer the materials / any source when we get in hand altogether. As a result, we came with a solution,” ONLINE COACHING” specializing in solving MCQs in your preferred time.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Our Mission <i class="fas fa-caret-right"></i></div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    MED ACADEMY, the only software/platform available in INDIA, where you could get proper guidance for competitive exams, whose main motto: “MAKING PROFESSIONALS, PROFESSIONALLY”.
                                    MED ACADEMY provides you:
                                    Option to workout unlimitedly
                                    Preparation in your preferable timings
                                    Workouts unlimited until you are confident
                                    Self analyzation of your progress
                                    Time Management
                                    Find out solutions with discussions for each option where ever needed
                                    Notes (pdf) and videos on each topic
                                    Conduct exams every week
                                    “Any time anywhere MED ACADEMY will be there with you”
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <div class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Our Vision <i class="fas fa-caret-right"></i></div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    “Where could we get proper coaching for PHARMACIST KPSC, etc?”
                                    “Which is the prescribed textbook to get prepared for PSC for PHARMACIST?”
                                    The only solution for all your questions:-“MEDACADEMY”
                                    The only software/ platform available in India, who is MAKING PROFESSIONALS, PROFESSIONALLY, where you could workout & prepare according to your own preferred time. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




<section class="newsSection commSec">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h3 class="mainTitle blckClr">Latest News & Acheivements</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="news">
                            <div class="news_photo">
                                <img src="~/Content/images/news/1.jpg">
                            </div>
                            <div class="news_info">
                                <h6>Nov, 17, 2016 - root - <a href="#">Uncategorized</a></h6>
                                <h5>Lorem Ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis aliquet neque non eleifend.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="news">
                            <div class="news_photo">
                                <img src="~/Content/images/news/2.jpg">
                            </div>
                            <div class="news_info">
                                <h6>Nov, 17, 2016 - root - <a href="#">Uncategorized</a></h6>
                                <h5>Lorem Ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis aliquet neque non eleifend.</p>
                                <a href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="points">
                    <h5>New Points Achievements</h5>

                    <div id="points_achieve">
                        <div class="single_points">
                            <img src="~/Content/images/points/1.jpg">
                            <div class="single_info">
                                <h5>Aparna</h5>
                                <h6>Kairali Public School</h6>
                                <h6>Level Open: Level 11</h6>
                            </div>
                        </div>

                        <div class="single_points">
                            <img src="~/Content/images/points/1.jpg">
                            <div class="single_info">
                                <h5>Aparna</h5>
                                <h6>Kairali Public School</h6>
                                <h6>Level Open: Level 11</h6>
                            </div>
                        </div>

                        <div class="single_points">
                            <img src="~/Content/images/points/1.jpg">
                            <div class="single_info">
                                <h5>Aparna</h5>
                                <h6>Kairali Public School</h6>
                                <h6>Level Open: Level 11</h6>
                            </div>
                        </div>

                        <div class="single_points">
                            <img src="~/Content/images/points/1.jpg">
                            <div class="single_info">
                                <h5>Aparna</h5>
                                <h6>Kairali Public School</h6>
                                <h6>Level Open: Level 11</h6>
                            </div>
                        </div>

                        <div class="single_points">
                            <img src="~/Content/images/points/1.jpg">
                            <div class="single_info">
                                <h5>Aparna</h5>
                                <h6>Kairali Public School</h6>
                                <h6>Level Open: Level 11</h6>
                            </div>
                        </div>

                        <div class="single_points">
                            <img src="~/Content/images/points/1.jpg">
                            <div class="single_info">
                                <h5>Aparna</h5>
                                <h6>Kairali Public School</h6>
                                <h6>Level Open: Level 11</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="commSec testimony_sec">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h3 class="mainTitle whtClr">What People Say?</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div id="demos">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="clientTestimony">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla eu magna auctor consequat. Integer nec dignissim elit, et tristique felis. Etiam nec gravida felis, bibendum dapibus ante. Morbi vel risus risus. Duis ligula mi, commodo vitae posuere a, vulputate tristique erat. Sed tempor sapien nibh, vitae dignissim massa laoreet sit amet. </p>
                                <img src="~/Content/images/testimony_1.jpg">
                                <h4>Jannie J Jones</h4>
                                <h6>Student</h6>
                            </div>
                        </div>

                        <div class="item">
                            <div class="clientTestimony">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla eu magna auctor consequat. Integer nec dignissim elit, et tristique felis. Etiam nec gravida felis, bibendum dapibus ante. Morbi vel risus risus. Duis ligula mi, commodo vitae posuere a, vulputate tristique erat. Sed tempor sapien nibh, vitae dignissim massa laoreet sit amet. </p>
                                <img src="~/Content/images/testimony_1.jpg">
                                <h4>Jannie J Jones</h4>
                                <h6>Student</h6>
                            </div>
                        </div>

                        <div class="item">
                            <div class="clientTestimony">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla eu magna auctor consequat. Integer nec dignissim elit, et tristique felis. Etiam nec gravida felis, bibendum dapibus ante. Morbi vel risus risus. Duis ligula mi, commodo vitae posuere a, vulputate tristique erat. Sed tempor sapien nibh, vitae dignissim massa laoreet sit amet. </p>
                                <img src="~/Content/images/testimony_1.jpg">
                                <h4>Jannie J Jones</h4>
                                <h6>Student</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>




