﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Untitled Document</title>
</head>

<body>
    <!-- Main box -->
    <table style="width: 100%; background-color: #E3E5E9; margin: 0px; padding: 0px; font-family: Arial;" border="0">
        <tr>
            <td>
                <table style="width: 800px; margin-left: auto; margin-right: auto; border-top: 5px solid #34A37C;" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td>
                            <!-- BODY -->
                            <table style="width: 800px; background-color: #fff; padding-left: 35px; padding-right: 35px; padding-bottom: 15px; font-size: 16px; padding-top: 50px; font-family: Arial; font-weight: 500;" border="0">
                                <tr>
                                    <td style="padding-bottom: 20px;">
                                        <a href="http://www.childacademy.in"><img src="http://www.childacademy.in/Content/img/logo_main_1.png" alt="ChildAcademy" style="display: block; position: relative; margin-left: auto; margin-right: auto; width: 220px;" /></a>
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td style="padding-bottom: 5px; padding-top: 5px;">
                                        <p style="color: #4B4B4D; text-align: center; font-size: 24px; font-weight: 700; text-transform:uppercase;">
                                            Reset Your password?
                                        </p>
                                    </td>
                                </tr>-->
                                <tr>
                                    <td style="padding-left: 15px; padding-right: 15px; padding-top: 15px; padding-bottom: 15px;">
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">Dear {{user}},</p>
                                        <br />
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">
                                            Congratulations on reaching your goal.  For your good performance in practice tests, you are redeemed with your gift. We have dispatched your gift which will be reaching you shortly.  </p>
                                        <br />
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">Your gift on redemption:{{redeemedGift}}</p>
                                        <br />
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">
                                            You have a long way to go and have great chances to redeem more gift,  so keep trying hard. We thank you for choosing Child Academy as your learning partner and we hope you will enjoy the same in future as well.
                                        </p>
                                        <br/>
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">Best wishes for continued success.</p>
                                        <br />
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">Regards,</p>
                                        <p style="color: #4B4B4D; font-size: 18px; margin-top: 2px; margin-bottom: 2px; text-align: left; font-weight: 500;">Child Academy Team</p>
                                        <!--<p style="text-align: center;">
                                            <a href="#" style="background-color: #57D7A7; border: 1px solid #57D7A7; padding: 20px; display: block; position: relative; color: #fff; text-align: center; font-weight: 700; font-size:18px; max-width: 200px; border-radius: 3px; text-decoration: none; margin-left: auto; margin-right: auto;">Reset Password</a>
                                        </p>-->
                                    </td>
                                </tr>

                            </table>
                            <!-- BODY END -->

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <!-- Footer -->
                            <table style="width: 800px; color: #b0b0b0; font-size: 12px; font-weight: 500; " border="0">
                                <tr>
                                    <td>
                                        <p style="margin-bottom: 20px; margin-top: 20px; text-align: center; display: block; position: relative;">
                                            &copy;  2016 www.childacademy.in All Rights Reserved.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <!-- Footer END -->
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <!-- Main box END -->
</body>
</html>
