﻿@model Medacademy.Models.UserModel

@foreach (var A1 in Model.CourseModel_Lists)
{
    <div class="course_div">
        <div class="course_image">
            @*<img src="~/Content/images/course/1.jpg">*@
            <img src="@A1.Files">
        </div>
        <div class="course_info">
            <h6>@A1.CourseName</h6>
            <h4>@A1.CourseSubjectName</h4>
            <div class="course_time">
                <span><i class="far fa-clock"></i> @A1.Duration</span>
                <span>Price : Rs @A1.Price</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod, lectus sed finibus pretium, sapien metus fermentum libero, sit amet posuere neque ipsum ve</p>
            <a href="/Accounts/Packages">Read more</a>
        </div>
    </div>

}
