.noOpacity {
    opacity: 0;
}

.isHidden {
    display: none;
}

.hideLabel {
    left: 46%;
    position: absolute;
    bottom: 0px;
    color: red;
}

.isPointer {
    cursor: pointer;
}
.isRed {
    color: red;
}
.isJustified {
    text-align: justify;
}
.isGreen {
    color: green;
}
.isDisabled{
    pointer-events:none;
}

.normalPointer{
    cursor:default !important;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
#contactForm .field-validation-error{
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.field-validation-error {
    color: #f00;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}
.validation-summary-valid {
    display: none;
}