﻿

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main_contents media_marpad_zero">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 statistics_main media_marpad_zero">
        <div class="container">
            <ul class="legend_list">
                <li class="not_ans">
                    <span class="numb_stat" id="unattend-number">@questions.Count</span><p>Unattended</p>
                </li>
                <li class="marked">
                    <span class="numb_stat" id="wrong-number">0</span><p>Wrong</p>
                </li>
                <li class="answ">
                    <span class="numb_stat" id="correct-number">0</span><p>Right Answered</p>
                </li>
            </ul>
            <style>
                .examTimer > div {
                    float: left;
                    font-size: 33px;
                }

                .examTimer {
                    float: left;
                    padding: 0px 20px;
                    border: 1px solid #6a5656;
                    background-color: #f5f2f2;
                    border-radius: 31px;
                }

                .blocks_ul {
                    margin: 0px;
                    padding: 0px;
                    padding-bottom: 4px;
                    list-style: none;
                }

                .head_countr {
                    float: left;
                    padding-right: 10px;
                    padding-top: 2px;
                    font-size: 15px;
                }

                .stats_btns {
                    padding-bottom: 13px;
                }

                .apsNavQusetionCenter {
                    display: block;
                }

                .questions_box {
                    border: 5px solid rgb(87, 215, 167);
                }

                h4.q_no {
                    border-bottom: 2px solid #57d7a7;
                }

                .v_select {
                    border: 4px solid rgb(87, 97, 215) !important;
                }

                .v_wrong {
                    border: 4px solid rgba(255, 0, 0, .87) !important;
                }

                .v_right {
                    border: 4px solid rgba(0, 208, 11, .83) !important;
                }

                .fa-file-text-o:before {
                    content: "End Exam";
                }

                .status_black {
                    width: 100%;
                }

                .stats_btns > .col-lg-4 {
                    padding: 0px;
                    padding-right: 15px;
                }

                .apsNavQusetionCenter {
                    padding-top: 13px;
                }

                .aps141101 {
                    margin-bottom: 20px;
                }

                .head_countr {
                    width: 172px;
                }

                .blocks_ul {
                    display: block;
                    float: left;
                }

                .identify-quest-parent-dev > div {
                    min-height: 45px;
                }


                @@media screen and (max-width: 767px) {
                    .stats_box; {
                        display: block;
                    }

                    .stats_box {
                        padding-top: 6px;
                    }

                    .examTimer {
                        float: left;
                        padding: 0px 5px;
                        border: 1px solid #6a5656;
                        background-color: transparent;
                    }

                        .examTimer > div {
                            font-size: 20px;
                        }



                    @@media screen and (max-width: 580px) {
                        .examTimerContainer {
                            margin: auto;
                            float: none;
                            display: block;
                            width: 100px;
                            border: 0px;
                        }

                        .statistics_main > .container > .col-xs-2, .statistics_main > .container > .col-xs-10 {
                            width: 100%;
                        }
                    }
            </style>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pmzero ">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero apsNavQusetionCenter">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mapazero  stats_box">
                        <h6 class="text-center">Question Palette</h6>
                        <ul class="blocks_ul" id="block-mark-answer">
                            @{
                                var indexOfBox = 1;
                            }

                            @if (student.isPaid)
                            {
                                foreach (var question in questions)
                                {
                                    var tooltip = indexOfBox;
                                    var qtooltip = "Q " + indexOfBox;
                                    <li class="not_ans navigate-qusetion-div isPointer red-tooltip" id="@question.questionId" data-index="@indexOfBox">
                                        <a class="apsQuestionNumberMod" data-toggle="tooltip" data-placement="top" title="@qtooltip"><span> @tooltip</span></a>
                                    </li>
                                    indexOfBox++;

                                }
                            }
                            else
                            {
                                foreach (var question in unpaidquestion)
                                {
                                    var tooltip = indexOfBox;
                                    var qtooltip = "Q " + indexOfBox;
                                    <li class="not_ans navigate-qusetion-div isPointer red-tooltip" id="@question.questionId" data-index="@indexOfBox">
                                        <a class="apsQuestionNumberMod" data-toggle="tooltip" data-placement="top" title="@qtooltip">@tooltip</a>
                                    </li>
                                    indexOfBox++;
                                }

                            }

                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 pmzero aps141101">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero examTimerContainer isDisabled">
                    <div class="examTimer" data-seconds-left=@practiceTest.Duration.TotalSeconds></div>
                </div>
            </div>
            <style>
                .isHidden {
                    display: none;
                }

                .rightorwrongaps {
                    width: 100%;
                    text-align: right;
                    font-size: 19px;
                    font-weight: bold;
                }

                .apsright {
                    background-color: #4EB13B;
                    text-align: center;
                    padding: 4px 0px;
                    float: right;
                    max-width: 200px;
                    color: #fff;
                }

                .apswrong {
                    background-color: #ff5852;
                    text-align: center;
                    padding: 4px 0px;
                    float: right;
                    max-width: 200px;
                    color: #fff;
                }

                .apsunattended {
                    background-color: #a7a7a7;
                    text-align: center;
                    padding: 4px 0px;
                    float: right;
                    max-width: 200px;
                    color: #fff;
                }

                .apsQuestionNumberMod {
                    width: 25px !important;
                    height: 25px !important;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 25px;
                    color: #fff !important;
                    text-decoration: none !important;
                    border-radius: 5px !important;
                }

                /*.apsQuestionNumberModActive {
                            background-color: #00aff0 !important;
                        }*/

                .question-list-group {
                    display: block;
                    position: relative;
                    padding: 0px;
                    margin: 0px;
                    list-style: none;
                    float: left;
                    width: 100%;
                }

                    .question-list-group li {
                        display: block;
                        position: relative;
                        background-color: transparent;
                        float: left;
                        width: 100%;
                    }

                .ques_label {
                    display: block;
                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    margin: 0px;
                }

                .ans_radio {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    margin: 0px;
                }

                [type="radio"].ans_radio ~ a {
                    border: 1px solid;
                    border-color: transparent;
                    margin: 0px;
                }

                [type="radio"].ans_radio:checked ~ a {
                    border: 1px solid #3686ff;
                    margin: 0px;
                }

                .isDisabled {
                    cursor: no-drop;
                    pointer-events: none;
                }

                .img-question > img {
                    cursor: zoom-in;
                }

                .question-asp {
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 0px;
                }
            </style>

            @if (student.isPaid)
            {
                <ul class="question-list-group" id="quest-ul-list">
                    @{
                        var index = 1;
                    }


                    @foreach (var question in questions)
                    {

                        <li id="@question.questionId" class="isHidden answer-list-li">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions_main">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 questions_box media_marpad_zero">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pmzero identify-quest-parent-dev">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pmzero">
                                            <h4 class=" q_no" data-quest-no="@index">
                                                Question @index of @questions.Count
                                            </h4>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pmzero right-wrong-specify-dev" style="min-height: initial;">
                                            <p class="rightorwrongaps apswrong isHidden">Wrong Answer</p>
                                            <p class="rightorwrongaps apsright isHidden">Right Answer</p>
                                        </div>
                                    </div>
                                    <input type="hidden" id="hfQuestionNo" value="@index" />

                                    <p class="question">@(new HtmlString(question.questionName))</p>


                                    @{var answers = question.GetAnswer();}



                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 answer_main mapazero" id="answer-option-div">
                                        @foreach (var answerlist in answers)
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 choice">
                                                <div class="choice_1 noselect"><label class="ques_label"><input type="radio" id="@answerlist.AnswerId" name="@question.questionId" data-right="@answerlist.Status" data-question-id="@question.questionId" class="ans_radio" /><a href="#" class="trigger-ans-option v_normal">@(new HtmlString(answerlist.Answer))</a></label></div>
                                            </div>


                                        }

                                    </div>




                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 question_buttons_main text-center">
                                        <a class="button_1 get-prev-quest prev-btn " style="cursor:pointer" id="prev-btn"><span class="fa  fa-angle-left"></span> &nbsp; previous </a>
                                        <a class="button_1 button_2 check-ans-dev" style="cursor:pointer">submit</a>
                                        <a class="button_1 button_3 get-next-quest next-btn isHidden" style="cursor:pointer" id="next-btn">next &nbsp; <span class="fa  fa-angle-right"></span></a>
                                        <a class="button_1 button_3 round_ red-tooltip isHidden btn-Report isPointer submit-validate-practice" data-toggle="tooltip" data-placement="top" title="" data-original-title="Report" style="display:none; float:right" data-id="@practiceTest.LevelID"><span class="fa  fa-file-text-o"></span></a>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 explanation isHidden explanation-@question.questionId" id="answer-exp-div" data-id="@question.questionId">
                                        <hr>
                                        <img class="ans_ban" src="@Url.Content("~/Content/images/ans_134.png")">
                                        <p>@(new HtmlString(@question.explanation))</p>
                                    </div>

                                </div>
                            </div>
                        </li>
                                        }

                    index++;
                </ul>
                                        }


        </div>
    </div>
</div>