﻿

@model Medacademy.Models.ViewPdf
    <style>
        iframe {
  pointer-events: none;
}
    </style>
<body>
   
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 3px;">
            <div class="modal-header">
                Pdf Viewer<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

          
                @*<embed id="element" src="@Model.pdfdata#toolbar=0" width="800" height="500">*@
            <div class="modal-body">
            <div id="pdf">
                @*<object width="100%" height="500" type="application/pdf" data="@Model.pdfdata#zoom=85&scrollbar=1&toolbar=0&navpanes=0" id="pdf_content" >
                    <p>Insert your error message here, if the PDF cannot be displayed.</p>*@
                @*</object>*@

                <iframe  id="pdfElementID" src="@Model.pdfdata#toolbar=0&zoom=85&scrollbar=0&navpanes=0" width="100%" height="500" ;"></iframe>
            </div>
                </div>
           



        </div>
    </div>
</body>

@*<script>
$(document).ready(function(){
    $('#pdfElementID').bind('contextmenu', function () { return false; });
});
</script>*@







