﻿@model Medacademy.Models.ViewPdf

<body oncontextmenu="return false;">
<div class="modal-dialog modal-lg">
    <div class="modal-content" style="border-radius: 3px;">
        <div class="modal-header">
            Video Viewer<button type="button" class="close" onclick="CloseVideo()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            @*<embed src="@Model.videodata#toolbar=0" width="500" height="300">*@
            <video id="videoElementID" width="100%" height="380" controls controlsList="nodownload">
                <source src="@Model.videodata" type="video/mp4">
            </video>
        </div>
        @*<button type="button" class="btn btn-danger pull-left" data-dismiss="modal"  style="margin-right:10px">Close</button>*@



    </div>
</div>
    </body>

<script>
$(document).ready(function(){
   $('#videoElementID').bind('contextmenu',function() { return false; });
});





function CloseVideo() {
    var vid = document.getElementById("videoElementID");
    vid.pause();
}
</script>


