﻿

@model Medacademy.Models.UserModel
@{

    var datas = (Medacademy.Models.UserModel)Session["UserLoginFirstTime"];
    //var allcourses = new Ma.EntityLibrary.Data.Course().GetUserviewCoursesbyID(Model.CourseId);
    //var allpackages = new Ma.EntityLibrary.Data.Package().GetPackagesbyid(Model.CourseId);


}

@{
    if (datas == null)
    {
        <input type="hidden" value="False" id="hfIsPaid" />
        <input type="hidden" value="0" id="hfislogged" />
        var allcourses = new Ma.EntityLibrary.Data.Course().GetUserviewCoursesbyID(Model.Nonusercourseid);
        var allpackages = new Ma.EntityLibrary.Data.Package().GetPackagesbyid(Model.Nonusercourseid);
        var allsubjects = allpackages.Where(z => z.PackageID == allpackages[0].PackageID).FirstOrDefault().GetSubjects();

        if (allpackages.Count > 0)
        {


            <div class="cust_tabs" id="course-list-view">

                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                        @foreach (var package in allpackages)
                        {
                            <a class="nav-item nav-link isPointer" onclick="navigatepackage(this)" data-class-id="@package.PackageID" data-toggle="tab" id="nav-home-tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">@package.PackageName</a> @*active*@

                        }
                    </div>
                </nav>

                <div class="tab-content py-3 px-3 px-sm-0 package-list-view" id="nav-tabContent ">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="tab_inner">
                            <h5>@allpackages[0].PackageName</h5>
                            <input type="hidden" value=@allpackages[0].PackageID id="hfpkgidtounpaidprcts" />
                            <p>Listed below are the chapters based on your syllabus. You can start practicing with the topic of your choice. The various sets in the chapter are arranged from simplest to the difficult one.</p>


                            <div class="package_table">
                                @{
                                    if (allsubjects.Count > 0)
                                    {
                                        int lockid = 1;
                                        foreach (var subjects in allsubjects)
                                        {
                                            <div class="package_table_inner">
                                                <div>
                                                    <img src="~/Content/images/pencil_icon.png"> @subjects.SubjectName
                                                </div>
                                                @{
                                                    var Topics = new Ma.EntityLibrary.Data.Topic().GetUserviewTopics(subjects.SubjectID);



                                                    if (Topics.Count > 0)
                                                    {

                                                        <div>
                                                            @Html.DropDownListFor(m => m.TopicId, Ma.EntityLibrary.Data.Dropdowndata.GetTopicDrop(subjects.SubjectID), new { @class = "form-control topic-drop-down", @data_live_search = "true", id = "topic-drop-down", divid = @Topics.FirstOrDefault().TopicID })

                                                        </div>

                                                        var subtopic = new Ma.EntityLibrary.Data.SubTopic().GetSubtopic(Topics[0].TopicID);


                                                        if (subtopic.Count > 0)
                                                        {

                                                            <div>
                                                                @Html.DropDownListFor(m => m.SubtopicID, Ma.EntityLibrary.Data.Dropdowndata.GetSubtopics(Topics[0].TopicID), new { @class = "form-control subtopic-drop-down", @data_live_search = "true", name = "levelDropdown", id = "SubtopicID" + @Topics.FirstOrDefault().TopicID, divid = @Topics.FirstOrDefault().TopicID + "pdf" })
                                                            </div>
                                                            var pdflink = @Topics.FirstOrDefault().TopicID + "pdf";
                                                            var videolink = @Topics.FirstOrDefault().TopicID + "video";
                                                            <div id="subtopic-list-view">
                                                                <div>
                                                                    <a data-id="@subtopic[0].Pdfpath" class="comm_icon pdf_icon Viewpdf   @pdflink" data-pdf="@Topics.FirstOrDefault().TopicID" title="View PDF"><img src="~/Content/images/pdf_icon.png"></a>
                                                                </div>
                                                                <div>
                                                                    <a data-id="@subtopic[0].Videopath" class="comm_icon video_icon @Topics.FirstOrDefault().TopicID" data-video="@Topics.FirstOrDefault().TopicID" title="View Video"><img src="~/Content/images/video_icon.png"></a>
                                                                </div>
                                                                @{
                                                                    var levels = new Ma.EntityLibrary.Data.Level().GetUserviewLevelcommon(@subtopic[0].SubTopicID, lockid);
                                                                    if (levels.Count > 0)
                                                                    {
                                                                        var leveldiv = @Topics.FirstOrDefault().TopicID + "p";
                                                                        <div class="@leveldiv">

                                                                            @*@{int indexOfColor = 1;
                                                                                }*@
                                                                            <div class="tab_inner_btns">
                                                                                @foreach (var Lvls in levels)
                                                                                {
                                                                                    <a class="navigate-start-practice isPointer" data-lockid-no="@Lvls.firstlockid" data-pract-name="@Lvls.LevelName" data-id="@Lvls.LevelID" data-notpaid-user="@Lvls.paidfirstlockid" data-locked-status="@Lvls.LockStatus" id="@Lvls.LevelID" href="#">@Lvls.LevelName<span class="lock-aps" style="color: #000000"><i class="fa fa-lock lockaps1612" aria-hidden="true"></i></span></a>
                                                                                    @*<a class="pract_@indexOfColor navigate-start-practice isPointer" data-chapter-no="@chapNo" data-pract-name="@pract.PracticeTest" data-id="@pract.PracticeTestGuid" data-index="@indexOfColor" data-exercise-available="@pract.ExerciseAvailable" data-locked-status="@pract.LockStatus">@pract.PracticeTest<span class="lock-aps" style="color: #000000"><i class="fa fa-lock lockaps1612" aria-hidden="true"></i></span></a>*@
                                                                                    //indexOfColor++;
                                                                                }
                                                                            </div>


                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="leveldiv">
                                                                            <div class="tab_inner_btns">
                                                                                <a id="" href="#"></a>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            </div>
                                                                        }

                                                                    }
                                                }



                                            </div>
                                                                            lockid++;
                                                                        }


                                                                    }
                                }
                            </div>


                        </div>




                    </div>
                </div>

            </div>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <input type="hidden" value="@datas.Ispaid.ToString()" id="hfIsPaid" />
                                                                        <input type="hidden" value="@datas.UserId" id="hfislogged" />
                                                                        if (datas.PackageID == 0)
                                                                        {
                                                                            var usercourse = new Ma.EntityLibrary.Data.Course().Getcoursesforuserid(datas.CourseId);
                                                                            var allpackages = usercourse.Where(z => z.CourseId == usercourse[0].CourseId).FirstOrDefault().GetPackages();
                                                                            var allsubjects = allpackages.Where(z => z.PackageID == allpackages[0].PackageID).FirstOrDefault().GetSubjects();
                                                                            <div class="container">
                                                                                <div class="row">
                                                                                    <div class="col-12">

                                                                                        <div class="worksheet_menu">
                                                                                            <ul>

                                                                                                @if (datas == null)
                                                                                                {
                                                                                                    foreach (var courses in usercourse)
                                                                                                    {
                                                                                                        <li class="isPointer" onclick="navigatecourse(this)" data-toggle="tab" data-class-id="@courses.CourseId"><a href="">@courses.CourseName</a></li>
                                                                                                    }

                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <li class="active"><a href="#">Course 1</a></li>
                                                                                                }

                                                                                            </ul>

                                                                                            <h6 class="text-center">CHOOSE THE PACKAGE TO TEST YOUR SKILLS</h6>
                                                                                        </div>


                                                                                        @{
                                                                                            if (allpackages.Count > 0)
                                                                                            {


                                                                                                <div class="cust_tabs" id="course-list-view">

                                                                                                    <nav>
                                                                                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                                                                                                            @foreach (var package in allpackages)
                                                                                                            {
                                                                                                                <a class="nav-item nav-link isPointer" onclick="navigatepackage(this)" data-class-id="@package.PackageID" data-toggle="tab" id="nav-home-tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">@package.PackageName</a> @*active*@

                                                                                                            }
                                                                                                        </div>
                                                                                                    </nav>

                                                                                                    <div class="tab-content py-3 px-3 px-sm-0  package-list-view" id="nav-tabContent">
                                                                                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                                                                            <div class="tab_inner">
                                                                                                                <h5>@allpackages[0].PackageName</h5>
                                                                                                                <input type="hidden" value=@allpackages[0].PackageID id="hfpkgidtounpaidprcts" />
                                                                                                                <p>Listed below are the chapters based on your syllabus. You can start practicing with the topic of your choice. The various sets in the chapter are arranged from simplest to the difficult one.</p>


                                                                                                                <div class="package_table">
                                                                                                                    @{
                                                                                                                        if (allsubjects.Count > 0)
                                                                                                                        {
                                                                                                                            int userpaidlockid = 1;  //id used for unlocking first level for user registered but not paid
                                                                                                                            int lockid = 1;
                                                                                                                            foreach (var subjects in allsubjects)
                                                                                                                            {
                                                                                                                                <div class="package_table_inner">
                                                                                                                                    <div>
                                                                                                                                        <img src="~/Content/images/pencil_icon.png"> 1.@subjects.SubjectName
                                                                                                                                    </div>
                                                                                                                                    @{
                                                                                                                                        var Topics = new Ma.EntityLibrary.Data.Topic().GetUserviewTopics(subjects.SubjectID);



                                                                                                                                        if (Topics.Count > 0)
                                                                                                                                        {

                                                                                                                                            <div>
                                                                                                                                                @Html.DropDownListFor(m => m.TopicId, Ma.EntityLibrary.Data.Dropdowndata.GetTopicDrop(subjects.SubjectID), new { @class = "form-control topic-drop-down", @data_live_search = "true", id = "topic-drop-down", divid = @Topics.FirstOrDefault().TopicID })

                                                                                                                                            </div>

                                                                                                                                            var subtopic = new Ma.EntityLibrary.Data.SubTopic().GetSubtopic(Topics[0].TopicID);


                                                                                                                                            if (subtopic.Count > 0)
                                                                                                                                            {

                                                                                                                                                <div>
                                                                                                                                                    @Html.DropDownListFor(m => m.SubtopicID, Ma.EntityLibrary.Data.Dropdowndata.GetSubtopics(Topics[0].TopicID), new { @class = "form-control subtopic-drop-down", @data_live_search = "true", name = "levelDropdown", id = "SubtopicID" + @Topics.FirstOrDefault().TopicID, divid = @Topics.FirstOrDefault().TopicID + "pdf" })
                                                                                                                                                </div>
                                                                                                                                                var pdflink = @Topics.FirstOrDefault().TopicID + "pdf";
                                                                                                                                                var videolink = @Topics.FirstOrDefault().TopicID + "video";


                                                                                                                                                <div id="subtopic-list-view">
                                                                                                                                                    @{
                                                                                                                                                        var videopath = "";
                                                                                                                                                        var VideoType = ""; // 1 for video 2 for youtube
                                                                                                                                                        if (subtopic[0].Videopath != null)
                                                                                                                                                        {
                                                                                                                                                            videopath = subtopic[0].Videopath;
                                                                                                                                                            VideoType = "1";
                                                                                                                                                        }
                                                                                                                                                        else if (subtopic[0].YouTubeVideo != null)
                                                                                                                                                        {
                                                                                                                                                            videopath = subtopic[0].YouTubeVideo;
                                                                                                                                                            VideoType = "0";

                                                                                                                                                        }
                                                                                                                                                    }
                                                                                                                                                    <div>
                                                                                                                                                        <a data-id="@subtopic[0].Pdfpath" class="comm_icon pdf_icon Viewpdf   @pdflink" data-pdf="@Topics.FirstOrDefault().TopicID" title="View PDF"><img src="~/Content/images/pdf_icon.png"></a>
                                                                                                                                                    </div>
                                                                                                                                                    <div>
                                                                                                                                                        <a data-id="@videopath" data-class-id="@VideoType" class="comm_icon video_icon Viewvideo  @Topics.FirstOrDefault().TopicID" data-video="@Topics.FirstOrDefault().TopicID" title="View Video"><img src="~/Content/images/video_icon.png"></a>
                                                                                                                                                    </div>
                                                                                                                                                    @{
                                                                                                                                                        var levels = new Ma.EntityLibrary.Data.Level().GetUserviewLevel(@subtopic[0].SubTopicID, datas.UserId, lockid, userpaidlockid);
                                                                                                                                                        if (levels.Count > 0)
                                                                                                                                                        {
                                                                                                                                                            var leveldiv = @Topics.FirstOrDefault().TopicID + "p";
                                                                                                                                                            <div class="@leveldiv">


                                                                                                                                                                <div class="tab_inner_btns">
                                                                                                                                                                    @foreach (var Lvls in levels)
                                                                                                                                                                    {
                                                                                                                                                                        <a class="navigate-start-practice isPointer" data-lockid-no="@Lvls.firstlockid" data-pract-name="@Lvls.LevelName" data-id="@Lvls.LevelID" data-notpaid-user="@Lvls.paidfirstlockid" data-locked-status="@Lvls.LockStatus" id="@Lvls.LevelID" href="#">@Lvls.LevelName<span class="lock-aps" style="color: #000000"><i class="fa fa-lock lockaps1612" aria-hidden="true"></i></span></a>
                                                                                                                                                                        @*<a class="pract_@indexOfColor navigate-start-practice isPointer" data-chapter-no="@chapNo" data-pract-name="@pract.PracticeTest" data-id="@pract.PracticeTestGuid" data-index="@indexOfColor" data-exercise-available="@pract.ExerciseAvailable" data-locked-status="@pract.LockStatus">@pract.PracticeTest<span class="lock-aps" style="color: #000000"><i class="fa fa-lock lockaps1612" aria-hidden="true"></i></span></a>*@

                                                                                                                                                                    }
                                                                                                                                                                </div>


                                                                                                                                                            </div>
                                                                                                                                                        }
                                                                                                                                                        else
                                                                                                                                                        {
                                                                                                                                                            <div class="leveldiv">
                                                                                                                                                                <div class="tab_inner_btns">
                                                                                                                                                                    <a id="" href="#"></a>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                        }
                                                                                                                                                    }
                                                                                                                                                </div>
                                                                                                                                                            }

                                                                                                                                                        }

                                                                                                                                    }



                                                                                                                                </div>
                                                                                                                                                                userpaidlockid++;
                                                                                                                                                            }


                                                                                                                                                        }
                                                                                                                    }
                                                                                                                </div>


                                                                                                            </div>




                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>
                                                                                                                                                        }
                                                                                        }

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                                                                                                        }
                                                                                                                                                        else
                                                                                                                                                        {
                                                                                                                                                            var usercourse = new Ma.EntityLibrary.Data.Course().Getcoursesforuserid(datas.CourseId);
                                                                                                                                                            var allpackages = new Ma.EntityLibrary.Data.Package().GetPackagesusingpackageid(datas.PackageID);
                                                                                                                                                            var allsubjects = allpackages.Where(z => z.PackageID == allpackages[0].PackageID).FirstOrDefault().GetSubjects();

                                                                                                                                                            <div class="container">
                                                                                                                                                                <div class="row">
                                                                                                                                                                    <div class="col-12">

                                                                                                                                                                        <div class="worksheet_menu">
                                                                                                                                                                            <ul>

                                                                                                                                                                                @if (datas == null)
                                                                                                                                                                                {
                                                                                                                                                                                    foreach (var courses in usercourse)
                                                                                                                                                                                    {
                                                                                                                                                                                        <li class="isPointer" onclick="navigatecourse(this)" data-toggle="tab" data-class-id="@courses.CourseId"><a href="">@courses.CourseName</a></li>
                                                                                                                                                                                    }

                                                                                                                                                                                }
                                                                                                                                                                                else
                                                                                                                                                                                {
                                                                                                                                                                                    <li class="active"><a href="#">Course 1</a></li>
                                                                                                                                                                                }

                                                                                                                                                                            </ul>

                                                                                                                                                                            <h6 class="text-center">CHOOSE THE PACKAGE TO TEST YOUR SKILLS</h6>
                                                                                                                                                                        </div>


                                                                                                                                                                        @{
                                                                                                                                                                            if (allpackages.Count > 0)
                                                                                                                                                                            {


                                                                                                                                                                                <div class="cust_tabs" id="course-list-view">

                                                                                                                                                                                    <nav>
                                                                                                                                                                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">

                                                                                                                                                                                            @foreach (var package in allpackages)
                                                                                                                                                                                            {
                                                                                                                                                                                                <a class="nav-item nav-link isPointer" onclick="navigatepackage(this)" data-class-id="@package.PackageID" data-toggle="tab" id="nav-home-tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">@package.PackageName</a> @*active*@

                                                                                                                                                                                            }
                                                                                                                                                                                        </div>
                                                                                                                                                                                    </nav>

                                                                                                                                                                                    <div class="tab-content py-3 px-3 px-sm-0  package-list-view" id="nav-tabContent">
                                                                                                                                                                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                                                                                                                                                            <div class="tab_inner">
                                                                                                                                                                                                <h5>@allpackages[0].PackageName</h5>
                                                                                                                                                                                                <input type="hidden" value=@allpackages[0].PackageID id="hfpkgidtounpaidprcts" />
                                                                                                                                                                                                <p>Listed below are the chapters based on your syllabus. You can start practicing with the topic of your choice. The various sets in the chapter are arranged from simplest to the difficult one.</p>


                                                                                                                                                                                                <div class="package_table">
                                                                                                                                                                                                    @{
                                                                                                                                                                                                        if (allsubjects.Count > 0)
                                                                                                                                                                                                        {
                                                                                                                                                                                                            int userpaidlockid = 1;  //id used for unlocking first level for user registered but not paid
                                                                                                                                                                                                            int lockid = 1;
                                                                                                                                                                                                            foreach (var subjects in allsubjects)
                                                                                                                                                                                                            {
                                                                                                                                                                                                                <div class="package_table_inner">
                                                                                                                                                                                                                    <div>
                                                                                                                                                                                                                        <img src="~/Content/images/pencil_icon.png"> 1.@subjects.SubjectName
                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                    @{
                                                                                                                                                                                                                        var Topics = new Ma.EntityLibrary.Data.Topic().GetUserviewTopics(subjects.SubjectID);



                                                                                                                                                                                                                        if (Topics.Count > 0)
                                                                                                                                                                                                                        {

                                                                                                                                                                                                                            <div>
                                                                                                                                                                                                                                @Html.DropDownListFor(m => m.TopicId, Ma.EntityLibrary.Data.Dropdowndata.GetTopicDrop(subjects.SubjectID), new { @class = "form-control topic-drop-down", @data_live_search = "true", id = "topic-drop-down", divid = @Topics.FirstOrDefault().TopicID })

                                                                                                                                                                                                                            </div>

                                                                                                                                                                                                                            var subtopic = new Ma.EntityLibrary.Data.SubTopic().GetSubtopic(Topics[0].TopicID);


                                                                                                                                                                                                                            if (subtopic.Count > 0)
                                                                                                                                                                                                                            {

                                                                                                                                                                                                                                <div>
                                                                                                                                                                                                                                    @Html.DropDownListFor(m => m.SubtopicID, Ma.EntityLibrary.Data.Dropdowndata.GetSubtopics(Topics[0].TopicID), new { @class = "form-control subtopic-drop-down", @data_live_search = "true", name = "levelDropdown", id = "SubtopicID" + @Topics.FirstOrDefault().TopicID, divid = @Topics.FirstOrDefault().TopicID + "pdf" })
                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                var pdflink = @Topics.FirstOrDefault().TopicID + "pdf";
                                                                                                                                                                                                                                var videolink = @Topics.FirstOrDefault().TopicID + "video";


                                                                                                                                                                                                                                <div id="subtopic-list-view">
                                                                                                                                                                                                                                    @{
                                                                                                                                                                                                                                        var videopath = "";
                                                                                                                                                                                                                                        var VideoType = ""; // 1 for video 2 for youtube
                                                                                                                                                                                                                                        if (subtopic[0].Videopath != null)
                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                            videopath = subtopic[0].Videopath;
                                                                                                                                                                                                                                            VideoType = "1";
                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                        else if (subtopic[0].YouTubeVideo != null)
                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                            videopath = subtopic[0].YouTubeVideo;
                                                                                                                                                                                                                                            VideoType = "0";

                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                    <div>
                                                                                                                                                                                                                                        <a data-id="@subtopic[0].Pdfpath" class="comm_icon pdf_icon Viewpdf   @pdflink" data-pdf="@Topics.FirstOrDefault().TopicID" title="View PDF"><img src="~/Content/images/pdf_icon.png"></a>
                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                    <div>
                                                                                                                                                                                                                                        <a data-id="@videopath" data-class-id="@VideoType" class="comm_icon video_icon Viewvideo  @Topics.FirstOrDefault().TopicID" data-video="@Topics.FirstOrDefault().TopicID" title="View Video"><img src="~/Content/images/video_icon.png"></a>
                                                                                                                                                                                                                                    </div>
                                                                                                                                                                                                                                    @{
                                                                                                                                                                                                                                        var levels = new Ma.EntityLibrary.Data.Level().GetUserviewLevel(@subtopic[0].SubTopicID, datas.UserId, lockid, userpaidlockid);
                                                                                                                                                                                                                                        if (levels.Count > 0)
                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                            var leveldiv = @Topics.FirstOrDefault().TopicID + "p";
                                                                                                                                                                                                                                            <div class="@leveldiv">


                                                                                                                                                                                                                                                <div class="tab_inner_btns">
                                                                                                                                                                                                                                                    @foreach (var Lvls in levels)
                                                                                                                                                                                                                                                    {
                                                                                                                                                                                                                                                        <a class="navigate-start-practice isPointer" data-lockid-no="@Lvls.firstlockid" data-pract-name="@Lvls.LevelName" data-id="@Lvls.LevelID" data-notpaid-user="@Lvls.paidfirstlockid" data-locked-status="@Lvls.LockStatus" id="@Lvls.LevelID" href="#">@Lvls.LevelName<span class="lock-aps" style="color: #000000"><i class="fa fa-lock lockaps1612" aria-hidden="true"></i></span></a>
                                                                                                                                                                                                                                                        @*<a class="pract_@indexOfColor navigate-start-practice isPointer" data-chapter-no="@chapNo" data-pract-name="@pract.PracticeTest" data-id="@pract.PracticeTestGuid" data-index="@indexOfColor" data-exercise-available="@pract.ExerciseAvailable" data-locked-status="@pract.LockStatus">@pract.PracticeTest<span class="lock-aps" style="color: #000000"><i class="fa fa-lock lockaps1612" aria-hidden="true"></i></span></a>*@

                                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                                </div>


                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                        else
                                                                                                                                                                                                                                        {
                                                                                                                                                                                                                                            <div class="leveldiv">
                                                                                                                                                                                                                                                <div class="tab_inner_btns">
                                                                                                                                                                                                                                                    <a id="" href="#"></a>
                                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                            </div>
                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                    }
                                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                            }

                                                                                                                                                                                                                                        }

                                                                                                                                                                                                                    }



                                                                                                                                                                                                                </div>
                                                                                                                                                                                                                                                userpaidlockid++;
                                                                                                                                                                                                                                            }


                                                                                                                                                                                                                                        }
                                                                                                                                                                                                    }
                                                                                                                                                                                                </div>


                                                                                                                                                                                            </div>




                                                                                                                                                                                        </div>
                                                                                                                                                                                    </div>

                                                                                                                                                                                </div>
                                                                                                                                                                                                                                        }
                                                                                                                                                                        }

                                                                                                                                                                    </div>
                                                                                                                                                                </div>
                                                                                                                                                            </div>
                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                                            }



                                                                                                                                                                                                                                        }