﻿ <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">

    <!-- Custom style -->
    <link rel="stylesheet" href="~/Content/css/styles.css">
    <link rel="stylesheet" href="~/Content/css/new_style.css">  
    <link rel="stylesheet" href="~/Content/css/newR_style.css">
    <link rel="stylesheet" href="~/Content/css/stylesexampage.css">
    <link href="@Url.Content("~/Content/css/reports.css")" rel="stylesheet" />
  
    @*<link href="~/Content/css/questions-page.css" rel="stylesheet" />*@

    <!-- jQuery 2.1.4 -->

    <script src="@Url.Content("~/Content/plugins/jQuery/jQuery-2.1.4.min.js")"></script>


    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/images/favicon.png">

  



    <title>Medacademy</title>
</head>
<body>
    @{ 
        var datas = (Medacademy.Models.UserModel)Session["UserLoginFirstTime"];
       
    }


    <section class="preheadSection">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="pre_head">
                        <div class="pre_left">
                            <img src="~/Content/images/home_icon.png">
                            <span>Welcome to Medacademy</span>
                        </div>

                        <div class="pre_right">
                            <ul class="pre_social_icon">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <a href="#" class="apply_btn">Apply Now</a>
                        </div>
                    </div><!-- ./pre_head -->

                </div>
            </div>
        </div>
    </section>
    <!-- ./preheadSection -->



    <section class="main_headSection">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="main_header">
                        <div class="head_left head_icons">
                            <img src="~/Content/images/mail_icon.png">
                            <div class="icon_info">
                                <h5>Mail Us</h5>
                                <h6>medacademy.co.in@gmail.com</h6>
                            </div>
                        </div>

                        <div class="logo">
                            <img src="~/Content/images/logo.png">
                        </div>

                        <div class="head_right head_icons">
                            <img src="~/Content/images/phone_icon.png">
                            <div class="icon_info">
                                <h5>Call Us</h5>
                                <h6>+1234-567-890</h6>
                            </div>
                        </div>
                    </div><!-- ./main_header -->

                </div>
            </div>
        </div>
    </section>
    <!-- ./main_headSection -->



    <section class="main_menuSection">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="menu">
                        <div class="mobile_menu">
                            <i class="fas fa-bars"></i>
                        </div>

                    @{

                        if (datas != null)
                        {
                            <ul class="main_menu">
                                <li><a href="/Accounts/Index">Home</a></li>
                                <li><a href="/Accounts/Courses">Courses</a></li>
                                <li><a href="/Accounts/Packages">Packages</a></li>
                                <li class="sub_item">
                                    <a>Curriculum</a>
                                    <ul class="subMenu">
                                       
                                        @{

                                            if (datas != null)
                                            {
                                                var group = new Ma.EntityLibrary.Data.GroupSTudent().Checkstudentgroup(datas.UserId);

                                                if (group != 0)
                                                {
                                                    <li><a href="/Curriculum/PreparationUser">Preparation</a></li>
                                                    <li><a href="/Curriculum/Exam">Exam</a></li>
                                                }

                                            }

                                        }
                                        
                                        <li><a href="/Curriculum/Worksheet">Worksheet</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Accounts/Reports">Reports</a></li>
                                @if (datas.PackageID !=0)
                                {
                                <li><a href="/Report/UserExamReult">Exam Result</a></li>
                                }
                                <li><a href="/Accounts/Groups">Groups</a></li>
                                <li><a href="/Accounts/AboutUs">About</a></li>
                                <li><a href="/Accounts/ContactUs">Contact</a></li>
                            </ul>
                        }
                        else
                        {
                            <ul class="main_menu">
                                <li><a href="/Accounts/Index">Home</a></li>
                                <li><a href="/Accounts/Local_Courses">Courses</a></li>
                                <li><a href="/Accounts/Local_Packages">Packages</a></li>
                                <li class="sub_item">
                                    <a>Curriculum</a>
                                    <ul class="subMenu">

                                        @*@{
                                            if (group != 0)
                                            {
                                                <li><a href="/Curriculum/PreparationUser">Preparation</a></li>
                                                <li><a href="/Curriculum/Exam">Exam</a></li>
                                            }
                                        }*@
                                        <li><a href="/Curriculum/Worksheet">Worksheet</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Accounts/Reports">Reports</a></li>
                                <li><a href="/Accounts/Groups">Groups</a></li>
                                <li><a href="/Accounts/AboutUs">About</a></li>
                                <li><a href="/Accounts/ContactUs">Contact</a></li>
                            </ul>
                        }




                    }

                        

                        <div class="rst_of_menu">
                            @{
                                    
                                if (datas != null)
                                {
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @datas.FirstName
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/User/LogOut">Log out</a>
                                        </div>
                                    </div>
                                }
                                else
                                {

                                    <button class="login_btn" id="log-in">Login/Signup</button>
                                    <div class="search">
                                        <img src="~/Content/images/search_icon.png">
                                    </div>

                                }


                            }
                        </div>

                        <div class="search_type">
                            <input type="text" class="form-control" placeholder="Search here...">
                        </div>
                    </div><!-- ./menu -->

                </div>
            </div>
        </div>
    </section>
    <!-- ./main_menuSection -->

    @RenderBody()
    <section class="commSec">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <h3 class="mainTitle blckClr">Contact us</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="contact_main">
                        <div class="contact_single">
                            <img src="~/Content/images/contact_single.png">
                            <h5>Address</h5>
                            <p>503 Old Buffalo Street</p>
                            <p>Northwest #205, New York-3087</p>
                        </div>

                        <div class="contact_single">
                            <img src="~/Content/images/phone_single.png">
                            <h5>Phone Number</h5>
                            <p>+3453-909-6565</p>
                            <p>+2390-875-2235</p>
                        </div>

                        <div class="contact_single">
                            <img src="~/Content/images/mail_single.png">
                            <h5>Mail</h5>
                            <p>medacademy.co.in@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footerSection">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="foot_single">
                        <img src="~/Content/images/foot_logo.png">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum, augue ut interdum mollis, elit diam pulvinar leo, vel feugiat neque ipsum ut felis. Ut auctor odio eu nibh porta rutrum.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="foot_single center_foot">
                        <h5>Our Site Map</h5>

                        <ul>
                            <li><a href="/Accounts/Index">Home</a></li>
                            <li><a href="/Accounts/Courses">Courses</a></li>
                            <li><a href="/Accounts/Packages">Packages</a></li>
                            @*<li><a href="#">Preparations</a></li>*@
                            <li><a href="/Accounts/Reports">Reports</a></li>
                            <li><a href="/Accounts/Groups">Groups</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="foot_single">
                        <h5>Newsletter</h5>
                        <p>Sign Up to Our Newsletter to Get Latest Updates & Services</p>

                        <div class="newsletter">
                            <input type="text" class="form-control" placeholder="Enter Your Email">
                            <button class="send_btn"><i class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <section class="copyrightSection">
        <div class="container">
            <div class="row foot_row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright">
                        © 2019-Medacdamey All Rights Reserved
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright">
                        <img src="~/Content/images/foot_logo.png">
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="copyright copyright_link">
                        <span><a href="#">Terms and conditions</a></span>
                        <span><a href="#">Privacy Policy</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        //main menu
        $('.mobile_menu').click(function () {
            $('.main_menu').toggle();
        });

        //submenu
        $('.sub_item').click(function () {
            $(this).children('.subMenu').toggle();
        });

        //search
        $('.search').click(function () {
            $('.search_type').toggle();
        });
    </script>

    <!-- Owl carousel -->
    <script src="~/Content/js/owl.carousel.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: false,
            dot: true,
            autoplay: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: true,
                    loop: false
                }
            }
        })
    </script>

    <script>
        var my_time;
        $(document).ready(function () {
            pageScroll();
            $("#points_achieve").mouseover(function () {
                clearTimeout(my_time);
            }).mouseout(function () {
                pageScroll();
            });
        });

        function pageScroll() {
            var objDiv = document.getElementById("points_achieve");
            objDiv.scrollTop = objDiv.scrollTop + 1;
            $('').html('scrollTop : ' + objDiv.scrollTop);
            $('').html('scrollHeight : ' + objDiv.scrollHeight);
            if (objDiv.scrollTop == (objDiv.scrollHeight - 100)) {
                objDiv.scrollTop = 0;
            }
            my_time = setTimeout('pageScroll()', 25);
        }
    </script>
    <script>
        $('#log-in').click(function () {
            window.location.href = '/Accounts/Login';
        });
    </script>
    <script>
          (function ($) {
            $.fn.delayKeyup = function (callback, ms) {
                var timer = 0;
                $(this).keyup(function () {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                });
                return $(this);
            };
        })(jQuery);
    </script>

    <script src="@Url.Content("~/Content/js/jquery.simple.timer.js")"></script>
    <!--Toastr-->
    <link href="@Url.Content("~/Content/plugins/toastr/toastr.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/toastr/toastr.min.css")" rel="stylesheet" />

    <!--Toastr-->
    <script src="@Url.Content("~/Content/plugins/toastr/toastr.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/toastr/toastrConfig.js")"></script>

    <!-- DataTables -->
    <link rel="stylesheet" href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.css")">
    <script src="@Url.Content("~/Content/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap.min.js")"></script>

    @*sweet alert*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> 
    <link href="/Content/Plugins/SweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="/Content/Plugins/SweetAlert/sweetalert.min.js"></script>





</body>
</html>
